*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body, #root{
    height: 100%;
    width: 100%;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(38, 38, 38);
}

.notes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.note{
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}